.layout {
    display: flex;
    height: 100vh;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.leftPartLayout {
    z-index: 0;
}
.content {
    width: 100vw;
}
